{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Simple market clone</h1>
            <p>
                This is an education purpose project`s admin panel.
            </p>
            <p>
                You can create, update or delete products, using its interface, upload images.
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}
